/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-transition {
  transition-property: height;
  transition-duration: 4s;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #fff;
  --swiper-pagination-bottom: 15px;
  --swiper-pagination-bullet-inactive-color: #aaa1a1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb)); */
}

.custom-transition {
  transition-property: height;
  transition-duration: 4s;
}

.sample-slider .swiper-wrapper {
  transition-timing-function: linear;
  align-items: center;
}
/* .swiper-wrapper .swiper-slide {
  display: flex;
  height: 91px;
  align-items: flex-start;
  justify-content: center;
} */
.shadow-color {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* .examples-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */
.swiper-slide .swiper-slide-active {
  z-index: -20;
}
.closeButton {
  transition: transform 0.2s, opacity 0.2s;
}

.closeButton:hover {
  transform: scale(1.2);
}

.custom-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
